.start-color {
    margin: 10px;
}

.color-row {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    flex-wrap: wrap;
}

.starter-color {
    border: solid;
    height: 100px;
    width: 20%;
    min-width: 50px;
}







#white {
    background-color: white;
}
#light-gray {
    background-color: lightgray;
}
#dark-gray {
    background-color: darkgray;
}
#black {
    background-color: black;
}
#purple {
    background-color: purple;
}
#brown {
    background-color: brown;
}
#blue {
    background-color: blue;
}
#green {
    background-color: green;
}
#pink {
    background-color: pink;
}
#yellow {
    background-color: yellow;
}
#orange {
    background-color: orange;
}
#red {
    background-color: red;
}