body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
}

.instructions {
    padding: 20px;
    background-color: rgb(235, 235, 235);
    max-width: 1200px;
}






