
.grid {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.color {
    aspect-ratio: 1 / 1;
    min-width: 100px;
    background-color: white;
}

.start-color {
    margin: 10px;
    width: 100%;
    max-width: 1200px;
}

.color-row {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    flex-wrap: wrap;
}

.starter-color {
    border: solid;
    height: 100px;
    width: 20%;
    min-width: 50px;
}

#white {
    background-color: white;
}
#light-gray {
    background-color: lightgray;
}
#dark-gray {
    background-color: darkgray;
}
#black {
    background-color: rgb(20,20,20);
}
#purple {
    background-color: purple;
}
#brown {
    background-color: brown;
}
#blue {
    background-color: rgb(0, 0, 200);
}
#green {
    background-color: green;
}
#pink {
    background-color: pink;
}
#yellow {
    background-color: yellow;
}
#orange {
    background-color: orange;
}
#red {
    background-color: red;
}